@font-face {
    font-family: 'fuente';
    src: url('../font/Ubuntu/Ubuntu-Regular.ttf');
}

* {
    font-family: 'fuente';
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #363c4e;
}

header {
    display: flex;
    width: 100%;
    height: 3vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
    position: fixed;
    z-index: 1000;
    background-color: #363c4e;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    color: #ffcc00;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

nav ul li a:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/******************************INTRO********************************/

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    position: relative;
    height: 60vh;
    z-index: 1;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    margin: 0;
}

span {
    color: #ffcc00;
}

.hero-content p {
    font-size: 24px;
}

.hero-content button {
    padding: 10px 20px;
    background-color: #ffcc0000;
    border: 4px solid #ffcc00;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.5s all;
}

.hero-content button a {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.hero-content button a:hover {
    color: #292e3a;
}

.hero-content button:hover {
    background-color: #ffcc00;
}

.hero-image {
    width: 300px;
    z-index: -1;
    border: 2px solid white;
    border-radius: 50% 0%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    border-radius: 50% 0%;
}

.social-links {
    position: absolute;
    right: 135px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#barrita {
    width: 2px;
    height: 85px;
    background-color: #ffcc00;
}

.social-links a {
    width: 3em;
    height: 3em;
}

.social-links a img {
    width: 100%;
    height: 100%;
}

/***********************************SOBREMI****************************/
.about {
    padding: 0 50px;
    text-align: center;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

/******************************SKILLS********************************/

.skills {
    padding: 50px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.skill-item {
    background-color: #292e3a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
}

.skill-item:hover {
    background-color: #4e5261;
}

.skill-item img {
    max-width: 50px;
    margin-bottom: 10px;
}

.skill-item p {
    margin: 0;
    font-size: 16px;
}

/***************************PORFOLIO*********************************/

.porfo {
    background-color: #292e3a;
    padding-bottom: 3em;
}

.porfo h2 {
    padding-top: 2em;
    font-size: 3em;
}

.porfo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 20px;
    max-width: 70%;
    margin: 0 auto;
}

.porfo-item {
    background-color: #292e3a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
    position: relative;
}

.porfo-item h3 {
    position: absolute;
    color: #292e3a;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px 20px;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.porfo-item img {
    max-width: 100%;
    border-radius: 10px;
    transition: opacity 1s ease;
    opacity: 1;
    z-index: 1;
    position: relative;
}


/* Estilo básico para el overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 2em 0;
}

.fullImage {
    max-width: 90%;
    max-height: 60%;
}

.cinta {
    height: 300px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#fullImagePlaya {
    max-height: 90%;
    margin-right: 2em;
}

.infoPorf {
    width: 30%;
    font-size: 1.3em;
    border-radius: 20px;
    background-color: #292e3a;
    padding: 1em;
}

/******************FORMACION******************************/
#formacion {
    height: auto;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 30px;
    justify-content: space-evenly;
    align-items: center;
}

#formacion-tit {
    text-align: center;
}

#info-form {
    width: 60%;
}

.descrips {
    padding: 10px 60px;
    font-size: 1.3em;
}

.descri-form {
    color: #ffffff;
}

strong {
    margin-bottom: 1em;
    color: #ffcc00;
}

figure {
    width: 20%;
}

.thumbnail2 {
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    box-shadow: -15px -6px 20px rgba(92, 92, 92, 0.671);
    transition: transform 0.3s ease;
}

.thumbnail2:hover {
    transform: scale(1.05);
}

#fullImage2 {
    height: 90%;
}

/************************CONTACTO*************************/
#contacto {
    background-color: #292e3a;
    padding-top: 3em;
    padding-bottom: 3em;
    height: auto;
}

.item-conta {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-conta img {
    height: 70%;
    margin: 0;
}

.contac {
    display: flex;
}

/***********************MOVIL**************************/
@media (max-width: 768px) {
    .overlay {
        flex-direction: column;
        justify-content: space-between;
    }

    .cinta {
        height: 150px;
    }

    .cinta img {
        width: 45%;
        height: 45%;
    }

    #fullImagePlaya {
        margin-right: 0;
    }

    #ov-playa {
        justify-content: space-evenly;
    }

    #fullImage2 {
    width: 94%;
    height: auto;
}
}

@media (max-width: 768px) {
    header {
        width: 100%;
        font-size: 1.3em;
        padding: 10px 0;
    }

    .social-links {
        right: 50px;
        bottom: 100px;
    }

    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    }

    .porfo-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    #contacto {
        width: 100%;
    }

    #formacion {
        flex-direction: column;
    }

    #info-form {
        width: 95%;
        margin: auto;
        text-align: center;
        padding-bottom: 5em;
    }

    .descrips {
        padding: 0;
    }

    .descri-form {
        text-align: left;
    }

    figure {
        width: 100%;
    }

    .infoPorf {
        font-size: 1em;
        width: 90%;
    }

    .contac {
        flex-direction: column;
    }
}
